.card {
  width: 25rem;
  max-height: 20rem;
  text-align: center;
  padding: 1rem;
}
.card img {
  width: 15rem;
  height: 15rem;
  margin: auto;
}
.card h1 {
  font-weight: 900;
  color: #babbbc;
}
